.pagination-nav button svg,
.pagination-nav span svg{
    width: 18px;
    height: 18px;
    display: inline;
}

.pagination-nav nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pos-realtive{
    position: relative;
}

input.form-control,
input.form-control:focus{
    outline: none;
    box-shadow: none;
}

.has-error .help-block {
    color: #842029;
}