.pagination-nav button svg,
.pagination-nav span svg{
    width: 18px;
    height: 18px;
    display: inline;
}

.pagination-nav nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pos-realtive{
    position: relative;
}

